<p id="notice"><%= notice %></p>

<h1>Pages</h1>
<%= simple_form_for :pages, url: "/pages/bulk_delete", method: :delete do |f| %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><input type="checkbox" name="collection_ids[]" value="<%=page.id%>" /></td>
        <td><%= page.name %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= f.submit "Delete Pages" %>

<% end %>
<br>

<%= link_to 'New Page', new_page_path %>
